@font-face {
   font-family: 'Fredoka One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/teeyee/Desktop/My%20Doc/YEE%20Hotel%20Website/fonts/Fredoka One/regular.ttf') format('truetype');
}
